numpy
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
cycler
fonttools
GitPython
idna
Jinja2
joblib
jsonschema
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
packaging
pandas
Pillow
prompt_toolkit
protobuf
psutil
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
requests
rich
scikit-learn
scipy
seaborn
six
streamlit
tenacity
threadpoolctl
toolz
typing_extensions
urllib3
validators
watchdog
wcwidth
xgboost
